.shortened {
    display: none;
}

@media (max-width: 767px) {
    .original {
        display: none;
    }
    .shortened {
        display: inline;
    }
}


/* Base styles for the responsive text */

.responsive-text {
    font-size: 1rem;
    /* Default font size for larger screens */
}


/* Media query for smaller screens */

@media (max-width: 640px) {
    /* Adjust the max-width value to your needs */
    .responsive-text {
        font-size: 0.5rem;
        /* Smaller font size for mobile devices */
    }
}